global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    default_backend gapi_backend

backend gapi_backend
    balance roundrobin
    option httpchk GET /

    server blue gapi_blue:80 check
    server green gapi_green:80 check
