global
    daemon
    maxconn 99
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256
    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    acl is_api path_beg /api/

    use_backend green_api if is_api
    default_backend frontend

backend frontend
    balance roundrobin
    option httpchk GET /

    server blue gapi_blue:80 check rise 2 fall 3
    server green gapi_green:80 check rise 2 fall 3

# GREEN API proxy
backend green_api
    http-request replace-path ^/api/(.*)$ /\1

    http-response set-header Access-Control-Allow-Origin "*"
    http-response set-header Access-Control-Allow-Methods "GET, POST, OPTIONS"
    http-response set-header Access-Control-Allow-Headers "Content-Type"

    server greenapi 1105.api.green-api.com:443 ssl verify required ca-file /etc/ssl/certs/ca-certificates.crt
